*{
 margin:0 ;
 padding: 0;   
}
body{
  background:#222;
  color:#f7f0f0;
  font-family: 'Cairo', 'Poppins', sans-serif;
}


.crud{
 width:80%;
 margin:auto;
   
}

.head{
 text-align: center;
 text-transform: uppercase;
 margin: 10px 0 ;
 color: #1142e4;   
}
input{
 width:100% ;
 height: 30px;
 border: none;
 outline: none;
 background: #111;
 margin:4px 0 ; 
border-radius:7px ;
padding: 4px;
color: #fff;   
}
input:focus{
  background: #000;
  border-radius: 200px; 
  padding: 10px; 
  transform: scale(1);
}
.price input{
   width: 20%; 

}
#total{
 background:#222;
 padding:5px 2px ;
 border-radius:5px ;

}
#total:before{content:'Total';}
button{
border:none;
border-radius:20px ;
width:100%;
height:30px;
background: #051050;
color: #fff;
cursor: pointer;
transition: 0.7s;     
}
#deleteall{
 margin:20px 0 ; 
}
button:hover{
    background: #1d0fe4;
    letter-spacing: 1px;}
#btnsearch{
display: flex;
justify-content: space-between;  
}
#btnsearch button{
  width: 45%;
}
table{
width:100%;
text-align: center; 
margin: 10px 0 ; 
}
table th{
text-transform:uppercase;
}
th,td{padding:5px;}



tr{background:#222 ;}
tr:nth-child(even){background:#111 ;}
tr:hover{background:#333 ;}
a{
 text-decoration: none;
 color: #fff;   
}
a:hover{
  color: #1142e4; 
  letter-spacing: 1px;  
}
.update{
  background: #0b500b;
  padding: 5px 10px;
  border-radius: 20px; 
}
.delete{
  background: #500b0b;
  padding: 5px 10px;
  border-radius: 20px; 
}
@media(max-width:768px){
  .crud{
   width: 95%; 
  }
  .price input{
   width: 40%; 

}
}
@media(max-width:480px){
  .price input{
   width: 60%; 

}
}

 
